@import "../../themes/generated/variables.base.scss";

// .login-form {
//   .link {
//     text-align: center;
//     font-size: 12px;
//     font-style: normal;
//     margin: 6px 0 50px;
//   }

//   .form-text {
//     color: var(--base-text-color-alpha-7);
//   }
// }

.login-page {
  // background-color: #f4f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.login-container {
  display: flex;
 

  max-width: 1440px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  gap: 30px;
  margin: 0 auto;

  justify-content: center;
}
@media (max-width: 991px) {
  .login-container {
    flex-direction: column;
  }
}

.login-left {
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background: #292929;
  border-color: #181818;
  .dx-swatch-light & {
    background: #fff;
    border: 4px solid #edf1f1;
  }
}

.login-data {
  padding-top: 95px;
  padding-left: 90px;
  padding-right: 90px;
}

@media (max-width: 1100px) {
  .login-data {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}

.welcome-text {
  font-weight: 700;
  font-size: 28px !important;
  color: #222325;
  margin-bottom: 0px;
  margin-top: 0px;
  .dx-swatch-dark & {
    color: #fff;
  }
}

.login-data p {
  font-weight: 400;
  color: #909091;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
}

.login-data {
  .welcome-text {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    color: #181818;
    .dx-swatch-dark & {
      color: #fff;
    }
  }

  .sub-text {
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin-bottom: 24px;
    .dx-swatch-dark & {
      color: #fff;
    }
  }
}

/* Form */
.login-form {
  .dx-form {
    width: 100%;

    .dx-field-item-label-content {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px;
      color: #181818;

      .dx-swatch-dark & {
        color: #fff;
      }
    }

    .dx-texteditor.dx-editor-filled {
      width: 100% !important;
      max-width: 450px;
      height: 48px !important;

      background: #fff;
      border: 1px solid #e2e2ea;
      border-radius: 8px;
      transition: border 0.2s, box-shadow 0.2s;
      overflow: hidden;

      .dx-texteditor-input {
        font-size: 14px;
        font-weight: 400;
        padding: 0 14px;
        color: #222325;

        .dx-swatch-dark & {
          color: #fff;
        }
      }

      .dx-placeholder::before {
        color: #909091;
        font-size: 14px;
      }

     

      
    }
  }
}

.dx-swatch-dark .dx-texteditor-buttons-container {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  flex-grow: 0 !important;
  flex-basis: auto !important;
  background-color: white !important;
}


.dx-swatch-dark .dx-texteditor-input {
  color: #000 !important;
}

.dx-swatch-dark .dx-button-mode-text .dx-icon {
    color: black;
}




.login-form{
  .dx-button.dx-button-mode-text.dx-button-has-icon {
  margin: 0 !important;
  padding: 0 !important;
  min-width: auto !important;
  height: auto !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}


.dx-button.dx-button-mode-text.dx-button-has-icon .dx-icon {
  font-size: 18px !important;
  color: #000 !important; 
}

}


/* Submit button */
.form-submit {
  width: 100%;
  max-width: 450px;

  .dx-button {
    border-radius: 8px !important;
    height: 47px;
    gap: 12px !important;
    opacity: 1 !important;

    background: linear-gradient(
      91.69deg,
      #2775ff -1.82%,
      #2bfecd 103.35%
    ) !important;

    border: none !important;

    .dx-button-text {
      font-weight: 600;
      font-size: 16px;
      color: #fff;
    }
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #909091;

  .dx-swatch-dark & {
    color: #fff;
  }

  span {
    padding: 0 10px;
  }

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
  }
}
.social-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  background: #fff;

  font-size: 14px;
  font-weight: 500;
  color: #222325;

  .icon-box {
    background: #f5f5f5;
    padding: 11px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}
.signup-text {
  text-align: center;
  margin-top: 20px;

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #909091;

    .dx-swatch-dark & {
      color: #fff;
    }

    a {
      color: #196feb;
      text-decoration: none;
      margin-left: 4px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #909091;

  .footer-links {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: #909091;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.remember-forgot-row {
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .forgot-link a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-image {
  max-height:100%;
  width: 100%;
}

@media (max-width: 991px) {
  .login-image {
    display: none;
  }
}

.microsoft-button {
  text-align: center;
}
.btn-create-account {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  .dx-button-content {
    padding: 0 !important;
  }
  span {
    color: #479ef5 !important;
    overflow: visible;
  }
}



.login-video {
  flex: 1; 
  border-radius: 10px;
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px; 
}
