.concentration-section {
  padding-bottom: 60px;
}
.tabs {
  background: #330964;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 12px;
  color: #fff !important;
  .dx-tabs-wrapper {
    gap: 10px;
  }
  .dx-item-content {
    &:after {
      display: none;
    }
  }

  .dx-tab {
    color: #fff !important;
    border: 1px solid #923cf6;
    font-size: 15px;
    background-color: transparent;
    &.dx-tab-selected {
      background: #6b09dd;
      border-color: transparent;
    }

    .dx-tab-text-span {
      color: #fff !important;
      font-size: 15px;
      .dx-tab-text-span-pseudo {
        color: #fff !important;
        font-size: 15px;
      }
    }
  }
  // Dark mode style
  .dx-swatch-dark & {
    background: #192129;
    .dx-tab {
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      &:hover {
        background: var(--Primary-Colors-02, #2775ff) !important;
        border-color: transparent;
      }
    }
    .dx-tab-selected {
      border-radius: 4px;
      background: var(--Primary-Colors-02, #2775ff) !important;
      border-color: transparent;
    }
  }
  .dx-scrollable-wrapper {
    padding-bottom: 0px !important;
    .dx-tab-selected {
      background: #6b09dd;
    }
  }
}

.tab-button {
  border: 1px solid #923cf6;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.identity-header {
  background: #d1e1fc;
  color: #000;
  padding: 8px 10px;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

.dx-swatch-dark .identity-header {
  background: #2775ff;
  color: #fff;
}

.dx-swatch-dark .dx-datagrid > .dx-datagrid-rowsview,
.dx-swatch-dark .dx-datagrid > .dx-datagrid-total-footer {
  background-color: transparent !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.dx-datagrid-headers {
  background-color: #232a32 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.dx-swatch-dark .dx-datagrid-borders > .dx-datagrid-rowsview,
.dx-swatch-dark .dx-datagrid-borders > .dx-datagrid-total-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dx-swatch-dark .dx-datagrid-table .dx-row-lines > td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dx-swatch-dark .dx-treelist-container > .dx-treelist-headers,
.dx-swatch-dark .dx-treelist-container > .dx-treelist-rowsview {
  background-color: transparent;
}
.treelist-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--base-bg);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  .identity-header {
    span {
      .dx-swatch-dark & {
        svg {
          path {
            stroke: #fff !important;
          }
        }
      }
    }
  }
}

.treelist-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.treelist-header {
  color: #000;
  font-size: 18px;
  margin: 0;
}

.treelist-search {
  display: flex;
  align-items: center;
}

.treelist-toolbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;

  .title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -77px;
  }
}

@media (max-width: 991px) {
  .treelist-toolbar-custom {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    .title {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 576px) {
  .treelist-toolbar-custom {
    .title {
      font-size: 16px;
      text-align: center;
      // width: 100%;
      margin-bottom: 0;
    }

    .dx-texteditor {
      width: 100% !important;
    }
  }
}

.treelist-toolbar-custom {
  .dx-texteditor {
    height: 78px !important;

    .dx-texteditor-input {
      height: 100% !important;
      line-height: 78px !important;
      padding: 0 12px !important;
    }
  }
}

.dx-editor-filled .dx-icon-search,
.dx-swatch-dark .dx-editor-outlined .dx-icon-search {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  top: 2px;
}
.dx-editor-filled .dx-placeholder::before,
.dx-swatch-dark .dx-editor-filled .dx-texteditor-input,
.dx-swatch-dark .dx-searchbox.dx-editor-outlined .dx-placeholder::before,
.dx-swatch-dark .dx-searchbox.dx-editor-outlined .dx-texteditor-input {
  padding-inline-start: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.dx-tabs.dx-state-focused .dx-tab.dx-state-focused {
  background-color: #923cf6;
}
.dx-treelist-cell-expandable {
  font-weight: 500;
  font-size: 12px;
}

.dx-row {
  font-weight: 500 !important;
  font-size: 12px;
}

.dx-treelist-headers {
  font-weight: 600;

  font-size: 24px !important;
}

.dx-treelist-headers .dx-treelist-text-content,
.dx-treelist-headers .dx-datagrid-text-content {
  font-size: 16px !important;
  font-weight: 600;
  color: #000;
}

.dx-swatch-dark .dx-treelist-headers .dx-treelist-text-content,
.dx-swatch-dark .dx-treelist-headers .dx-datagrid-text-content {
  font-size: 16px !important;
  font-weight: 600;
  color: #fff !important;
}

/* Optional: soften header look */
#concentration .dx-treelist-headers {
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

/* Optional: round bottom */
#concentration .dx-treelist-rowsview {
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
#concentration {
  .dx-icon {
    .dx-swatch-dark & {
      color: #fff !important;
    }
  }
  .dx-filterbuilder-group {
    .dx-filterbuilder-group-operation.dx-filterbuilder-text {
      .dx-swatch-dark & {
        background-color: #2775ff !important;
      }
    }
  }
}
.dx-swatch-dark .dx-treelist .dx-treelist-sticky-column,
.dx-swatch-dark .dx-treelist .dx-treelist-sticky-column-left,
.dx-swatch-dark .dx-treelist .dx-treelist-sticky-column-right {
  position: sticky;
  z-index: 2;
  background-color: #192129;
}

.dx-treelist-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link,
.dx-treelist-rowsview
  .dx-row-focused.dx-data-row
  > td:not(.dx-focused):not(.dx-cell-modified):not(.dx-treelist-invalid) {
  background-color: #d5e1ff;
  color: #242424;
}
.filter-builder-wrapper {
  h6 {
    margin: 0 0 10px 0;
  }
  .dx-filterbuilder {
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 15px;
    .dx-filterbuilder-group,
    .dx-filterbuilder-item {
      border: 1px solid #cfcfcf;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .dx-swatch-dark & {
      background: #192129;
      border: 1px solid rgba(255, 255, 255, 0.1);

      .dx-filterbuilder-group,
      .dx-filterbuilder-item {
        background: #192129;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        .dx-filterbuilder-text {
          color: #fff !important;
        }
        .dx-filterbuilder-field-selector {
          color: #fff !important;
        }
        .dx-filterbuilder-operator-selector {
          color: #fff !important;
        }
        .dx-filterbuilder-value-textbox .dx-texteditor-input {
          background: #232129;
          border: 1px solid rgba(255, 255, 255, 0.1);
          color: #fff !important;
        }
      }
    }
  }
  h6 {
    font-size: 18px !important;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
}
.filter-builder-container {
  .custom-button {
    background: #1559d1;
    svg {
      path {
        stroke: #fff;
      }
    }
    .button-text {
      color: #fff !important;
    }
    .dx-swatch-dark & {
      background: #505254;
    }
  }
}
// .filter-builder-container {
//   margin-bottom: 1rem;

//   .toggle-filter-btn {
//     background: #2775ff;
//     color: #fff;
//     border: none;
//     padding: 6px 12px;
//     font-size: 14px;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     gap: 4px;
//     border-radius: 6px;

//     &:hover {
//       background: #1c51ac;
//     }
//   }

//   .filter-builder-wrapper {
//     margin-top: 0.5rem;
//     padding: 1rem;
//     border: 1px solid #797878;
//     border-radius: 8px;
//     background: #192129;
//   }
// }

.dx-treelist .dx-row-alt > td {
  background-color: #fff;
  .dx-swatch-dark & {
    background-color: #192129;
  }
}

.summary-row {
  .dx-swatch-dark & {
    background-color: #33343a !important;
    font-weight: bold !important;
    td {
      background-color: #3a3a3a !important;
    }
  }
  background-color: #ebebeb !important;
  font-weight: bold !important;
  td {
    background-color: #f6f5f5 !important;
  }
}

.yellow-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: yellow;
}
/* ✅ For leaf nodes (e.g., 86038, 87276, etc.) */
/* For leaf rows — add yellow marker */
.leaf-row > td {
  position: relative;
}
.leaf-row .dx-treelist-first-header::after {
  position: absolute;
  content: "";
  left: 100px;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #ffb800;
}
